.#{$ns}-expander {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: .75rem;
	width: .75rem;
	cursor: se-resize;
	background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #{map-get($colors, expander)} 55%, #{map-get($colors, expander)} 100%)
}
