@import "./vars.scss";

// Styles to handle not having 4chan X.
// Using html:not(.fourchan-x) makes the styles end up with higher specificity and clobber things.
.dialog {
	background: var(--fcsp-background);
	background: var(--fcsp-background);
	border-color: var(--fcsp-border);
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	border-radius: 3px;
	padding-top: 1px;
	padding-bottom: 3px;
}

.entry {
	position: relative;
	display: block;
	padding: .125rem .5rem;
	min-width: 70px;
	white-space: nowrap;

	&.has-submenu::after {
		content: "";
		border-left: .5em solid;
		border-top: .3em solid transparent;
		border-bottom: .3em solid transparent;
		display: inline-block;
		margin: .35em;
		position: absolute;
		right: 3px;
	}
	&.focused {
		background: rgba(255, 255, 255, .33);
		& > .submenu {
			display: block;
		}
	}
}

.submenu {
	position: absolute;
	display: none;
}
