.#{$ns}-controls {
	align-items: center;
	padding: .5rem;

	background: #{map-get($colors, controls_background)};

	& .#{$ns}-current-time {
		color: #{map-get($colors, controls_inactive)};
	}

	& .#{$ns}-media-control {
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1rem;

		color: #{map-get($colors, controls_inactive)};

		&:hover {
			color: #{map-get($colors, controls_active)};
		}
	}
}

.#{$ns}-media-control {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&.#{$ns}-hover-fill {
		svg[class$="-fill"], svg[class*="-fill "] {
			display: none;
		}

		&:hover {
			svg {
				display: none;
			}
			svg[class$="-fill"], svg[class*="-fill "] {
				display: block;
			}
		}
	}

	&.#{$ns}-play-button {
		// Paused state
		&:not(.#{$ns}-play) {
			svg.bi-play-fill, svg.bi-play {
				display: none !important;
			}
		}
	
		// Play state
		&.#{$ns}-play {
			svg.bi-pause-fill, svg.bi-pause {
				display: none !important;
			}
		}
	}

	&.#{$ns}-fullscreen-button {
		svg.bi-fullscreen-exit {
			display: none;
		}
	}
	##{$ns}-container[data-view-style="fullscreen"] &.#{$ns}-fullscreen-button {
		svg.bi-fullscreen-exit {
			display: block;
		}
		svg.bi-fullscreen {
			display: none;
		}
	}
}

.#{$ns}-progress-bar {
	min-width: 3.5rem;
	height: 1.5rem;
	display: flex;
	align-items:center;
	margin: 0 1rem;

	& .#{$ns}-full-bar {
		height: .3rem;
		width: 100%;
		background: #{map-get($colors, controls_empty_bar)};
		border-radius: 1rem;
		position: relative;

		& > div {
			position: absolute;
			top: 0;
			bottom: 0;
			border-radius: 1rem;
		}

		& .#{$ns}-loaded-bar {
			background: #{map-get($colors, controls_loaded_bar)};
		}

		& .#{$ns}-current-bar {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			&:after {
				content: '';
				background: #{map-get($colors, controls_inactive)};
				height: .8rem;
				min-width: .8rem;
				border-radius: 1rem;
				box-shadow: rgba(0, 0, 0, 0.76) 0 0 3px 0;
				margin-right: -.4rem
			}
		}
	}

	&:hover .#{$ns}-current-bar:after {
		background: #{map-get($colors, controls_active)};
	}
}

.#{$ns}-seek-bar .#{$ns}-current-bar {
	background: #{map-get($colors, controls_active)};
}
.#{$ns}-volume-bar .#{$ns}-current-bar {
	background: #{map-get($colors, controls_inactive)};;
}

.#{$ns}-chan-x-controls {
	.#{$ns}-current-time, .#{$ns}-duration {
		margin: 0 .25rem;
	}
}