.#{$ns}-footer {
	padding: .15rem .25rem;
	border-top: solid 1px #{map-get($colors, border)};

	& .#{$ns}-expander {
		position: absolute;
		bottom: 0px;
		right: 0px;
		height: .75rem;
		width: .75rem;
		cursor: se-resize;
		background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #{map-get($colors, border)} 55%, #{map-get($colors, border)} 100%)
	}
}
