.#{$ns}-header, .#{$ns}-footer {
	text-align: center;
	padding: .125rem;
	max-width: 100%;
	line-height: 1rem;

	&:hover .#{$ns}-hover-display {
		display: flex;
	}

	& .#{$ns}-expander {
		opacity: 0;
		position: absolute;
		bottom: -.25rem;
		right: -.25rem;
		height: .75rem;
		width: .75rem;
		cursor: se-resize;
		background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #{map-get($colors, border)} 55%, #{map-get($colors, border)} 100%)
	}
	& .#{$ns}-expander[data-direction="sw"] {
		left: -.25rem;
		right: auto;
		transform: rotate(90deg);
		cursor: sw-resize;
	}

	& .#{$ns}-expander[data-direction="nw"] {
		left: -.25rem;
		top: -.25rem;
		right: auto;
		bottom: auto;
		transform: rotate(180deg);
		cursor: nw-resize;
	}

	& .#{$ns}-expander[data-direction="ne"] {
		right: -.25rem;
		top: -.25rem;
		bottom: auto;
		transform: rotate(270deg);
		cursor: ne-resize;
	}
}
.#{$ns}-header {
	cursor: grab;
	border-bottom: solid 1px #{map-get($colors, border)};
}
.#{$ns}-footer {
	cursor: grab;
	border-top: solid 1px #{map-get($colors, border)};
}
.#{$ns}-title-marquee {
	transition: margin-left 1s linear;
}
