.#{$ns}-header {
	cursor: grab;
	text-align: center;
	border-bottom: solid 1px #{map-get($colors, border)};
	padding: .25rem .125rem;
	&:hover .#{$ns}-hover-display {
		display: flex;
	}
}
.#{$ns}-title-marquee {
	transition: margin-left 1s linear;
}
