.#{$ns}-header {
	cursor: grab;
	text-align: center;
	border-bottom: solid 1px #{map-get($colors, border)};
	padding: .25rem;
	&:hover .#{$ns}-hover-display {
		display: flex;
	}
}
// Append a little 1 to indicate repeat one
html.fourchan-x  .fa-repeat.fa-repeat-one::after {
	content: '1';
	font-size: .5rem;
	visibility: visible;
	margin-left: -1px;
}
