.#{$ns}-header {
	cursor: grab;
	text-align: center;
	border-bottom: solid 1px #{map-get($colors, border)};
	padding: .25rem .125rem;
	&:hover .#{$ns}-hover-display {
		display: flex;
	}
}
.#{$ns}-title-marquee {
	transition: margin-left 1s linear;
}
html:not(.fourchan-x) .#{$ns}-header .#{$ns}-col-auto {
	margin: 0 .075rem;
}
// Append a little 1 to indicate repeat one
html.fourchan-x  .fa-repeat.fa-repeat-one::after {
	content: '1';
	font-size: .5rem;
	visibility: visible;
	margin-left: -1px;
}
