.#{$ns}-menu svg.bi {
	margin: 0 -.25rem 0 0.25rem;
}

.#{$ns}-header, .#{$ns}-footer {
	svg.bi {
		margin: 0 .125rem;
	}
}

.muted svg.bi {
	opacity: .45;
}

svg.bi {
	overflow: visible;
	height: 1em;
	width: 1em;
}
