.#{$ns}-icon-close {
	transform: rotate(45deg);
}

.#{$ns}-footer svg.bi {
	margin-bottom: -.2rem
}

.#{$ns}-menu svg.bi {
	margin: .062em -.25rem 0 0.25rem;
}

.#{$ns}-header svg.bi {
	margin: 0 .125rem;
}

.muted svg.bi {
	opacity: .45;
}

svg.bi {
	overflow: visible;
}
