.#{$ns}-image-link {
	text-align: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	overflow: hidden;
	position: relative;

	&.#{$ns}-show-video {
		.#{$ns}-video {
			display: block;
		}
		.#{$ns}-image {
			display: none;
		}
	}

	&.#{$ns}-pip {
		position: fixed;
		right: 10px;
		align-items: end;

		& .#{$ns}-image, .#{$ns}-video {
			width: auto;
			height: auto;
			max-height: #{$max-pip-size};
			max-width: #{$max-pip-size};
			object-fit: contain;
		}
	}

	& .#{$ns}-video {
		display: none;
	}
	& .#{$ns}-image, & .#{$ns}-video {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	& .#{$ns}-background-image {
		position: absolute;
		top: -20px;
		bottom: -20px;
		left: -20px;
		right: -20px;
		object-fit: cover;
		object-position: center;
		height: calc(100% + 40px);
		width: calc(100% + 40px);
		filter: blur(10px) brightness(.7) saturate(.5) contrast(.7);
		z-index: -1;

		&:not([src]) {
			display: none;
		}
	}
}

##{$ns}-container[data-view-style="fullscreen"].playing-video {
	.#{$ns}-image-link {
		background: black;
	}
	.#{$ns}-background-image {
		display: none;
	}
}
