.#{$ns}-image-link {
	text-align: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;

	&.#{$ns}-show-video {
		.#{$ns}-video {
			display: block;
		}
		.#{$ns}-image {
			display: none;
		}
	}

	&.#{$ns}-pip {
		position: fixed;
		right: 10px;
		align-items: end;

		& .#{$ns}-image, .#{$ns}-video {
			width: auto;
			height: auto;
			max-height: var(--fcsp-max-pip-size);
			max-width: var(--fcsp-max-pip-size);
			object-fit: contain;
		}

		.#{$ns}-image-transparent-bg, .#{$ns}-background-image {
			display: none;
		}
	}

	& .#{$ns}-video {
		display: none;
	}
	& .#{$ns}-image, & .#{$ns}-video {
		height: 100%;
		width: 100%;
		object-fit: contain;
		z-index: 1;
	}

	& .#{$ns}-background-image {
		position: absolute;
		top: -20px;
		bottom: -20px;
		left: -20px;
		right: -20px;
		object-fit: cover;
		object-position: center;
		height: calc(100% + 40px);
		width: calc(100% + 40px);
		filter: blur(10px) brightness(.7) saturate(.5) contrast(.7);
		z-index: -1;

		&:not([src]) {
			display: none;
		}
	}

	.#{$ns}-image-transparent-bg {
		background-color: var(--fcsp-background);
		position: absolute;
	}

	.untz & {
		transition: all .1s linear;
	}
}

##{$ns}-container[data-view-style="fullscreen"] {
	&.playing-video .#{$ns}-background-image {
		display: none;
	}
	&.playing-video .#{$ns}-image-link, .#{$ns}-image-transparent-bg {
		background: black;
	}
}

##{$ns}-container.playing-video .#{$ns}-image-transparent-bg {
	display: none;
}

.image-color-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 255, 0, .5);
	transition: all .5s linear;
	display: none;

	.untz & {
		display: block;
	}
}
