.#{$ns}-image-link {
	text-align: center;
	display: flex;
	justify-items: center;
	justify-content: center;

	&.#{$ns}-pip {
		position: fixed;
		right: 10px;
		height: #{$max-pip-size} !important;
		max-width: #{$max-pip-size};
		align-items: end;

		& .#{$ns}-image, .#{$ns}-video {
			max-height: 100%;
			height: initial;
			width: initial;
			object-fit: contain;
		}
	}
}
.#{$ns}-image-link .#{$ns}-video {
	display: none;
}
.#{$ns}-image, .#{$ns}-video {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.#{$ns}-image-link.#{$ns}-show-video {
	.#{$ns}-video {
		display: block;
	}
	.#{$ns}-image {
		display: none;
	}
}
