.#{$ns}-has-controls {
	position: relative;

	.#{$ns}-controls {
		cursor: auto;
		flex-wrap: nowrap;
		overflow: hidden;
		min-width: auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&:not(:hover) .#{$ns}-controls {
		display: none;
	}

    html:not(.fourchan-x) & > video + .#{$ns}-controls {
        left: 20px;
        right: 20px;
    }
}
