##{$ns}-container {
	position: fixed;
	background: #{map-get($colors, background)};
	border: 1px solid #{map-get($colors, border)};
	min-width: 100px;
	color: #{map-get($colors, text)};
}
.#{$ns}-panel {
	padding: 0 .25rem;
	height: 100%;
	width: calc(100% - .5rem);
	overflow: auto;
}
.#{$ns}-heading {
	font-weight: 600;
	margin: .5rem 0;
}
.#{$ns}-has-description {
	cursor: help;
}
.#{$ns}-heading-action {
	font-weight: normal;
	text-decoration: underline;
	margin-left: .25rem;
}
.#{$ns}-row {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	box-sizing: border-box;
}
.#{$ns}-col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	display: inline-flex;
}
.#{$ns}-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	width: 100%;
}
.#{$ns}-align-center {
	align-items: center;
	align-content: center;
	align-self: center;
}
.#{$ns}-space-between {
	justify-content: space-between;
}

// Hide the text with 4chan X since the icons will show
html.fourchan-x ##{$ns}-container .fa {
	font-size: 0;
	visibility: hidden;
	margin: 0 0.15rem;
}

.#{$ns}-truncate-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.#{$ns}-hover-display {
	display: none;
}

html:not(.fourchan-x) {
	& .dialog {
		background: #{map-get($colors, background)};
		background: #{map-get($colors, background)};
		border-color: #{map-get($colors, border)};
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
		border-radius: 3px;
		padding-top: 1px;
		padding-bottom: 3px;
	}

	& .#{$ns}-menu {
		& .entry {
			position: relative;
			display: block;
			padding: .125rem .5rem;
			min-width: 70px;
			white-space: nowrap;
		}

		& .has-submenu::after {
			content: "";
			border-left: .5em solid;
			border-top: .3em solid transparent;
			border-bottom: .3em solid transparent;
			display: inline-block;
			margin: .35em;
			position: absolute;
			right: 3px;
		}

		& .submenu {
			position: absolute;
			display: none;
		}

		& .focused > .submenu {
			display: block;
		}
	}
}