##{$ns}-container {
	position: fixed;
	background: #{map-get($colors, background)};
	border: 1px solid #{map-get($colors, border)};
	min-height: 200px;
	min-width: 100px;
	color: #{map-get($colors, text)}
}
.#{$ns}-row {
	display: flex;
	flex-wrap: wrap;
}
.#{$ns}-col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}
.#{$ns}-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	width: 100%;
}
// Hide the text with 4chan X since the icons will show
html.fourchan-x ##{$ns}-container .fa {
	font-size: 0;
	visibility: hidden;
	margin: 0 0.15rem;
}

.#{$ns}-truncate-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.#{$ns}-hover-display {
	display: none;
}
