##{$ns}-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	background: #{map-get($colors, background)};
	color: #{map-get($colors, text)};
	border: 1px solid #{map-get($colors, border)};
	box-sizing: border-box;
	min-width: 7rem;
	line-height: 1rem;

	& .w-100 {
		width: 100%;
		min-width: 100%;
	}

	& input[type=text], input[type=number], & select, & .#{$ns}-file-overlay {
		background: white;
		color: black;
		height: 1.5rem !important;
		padding: 2px 4px 3px;
		box-sizing: border-box;
		margin: 0;
		border-radius: 0;
		border: solid 1px #{map-get($colors, border)};
		padding: 0 .25rem;
	}

	@for $i from 1 through length($sizes) {
		$size: nth($sizes, $i);
		.m-#{$i - 1} { margin: $size };
		.mx-#{$i - 1} { margin-right: $size; margin-left: $size; };
		.my-#{$i - 1} { margin-top: $size; margin-bottom: $size; };
		.mr-#{$i - 1} { margin-right: $size };
		.ml-#{$i - 1} { margin-left: $size };
		.mt-#{$i - 1} { margin-top: $size };
		.mb-#{$i - 1} { margin-bottom: $size };
	}
	
	.pointer {
		cursor: pointer;
	}
}
.#{$ns}-panel {
	padding: 0 .25rem;
	height: 100%;
	width: calc(100% - .5rem);
	overflow: auto;
}
.#{$ns}-heading {
	font-weight: 600;
	margin: .5rem 0;

	&.lined {
		border-bottom: solid 1px #{map-get($colors, border)};

		& .#{$ns}-heading-action {
			text-decoration: none;
		}
	}
}
.#{$ns}-heading-action {
	font-weight: normal;
	text-decoration: underline;
	display: inline-flex;
}
.#{$ns}-row {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	box-sizing: border-box;

	&.nowrap {
		flex-wrap: nowrap;
	}
}
.#{$ns}-col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	display: inline-flex;
}
.#{$ns}-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	width: 100%;
	position: relative;
}
.#{$ns}-hover-display {
	display: none;
}
.#{$ns}-hover-trigger:hover .#{$ns}-hover-display {
	display: flex;
}
[\\\@pointdrag], .no-touch-action {
	touch-action: none;
}
.#{$ns}-truncate-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.#{$ns}-align-center {
	align-items: center;
	align-content: center;
	align-self: center;
}
.#{$ns}-align-start {
	align-items: start;
	align-content: start;
	align-self: start;
}
.#{$ns}-space-between {
	justify-content: space-between;
}