##{$ns}-container {
	position: fixed;
	background: #{map-get($colors, background)};
	border: 1px solid #{map-get($colors, border)};
	min-width: 7rem;
	color: #{map-get($colors, text)};
}
.#{$ns}-panel {
	padding: 0 .25rem;
	height: 100%;
	width: calc(100% - .5rem);
	overflow: auto;
}
.#{$ns}-heading {
	font-weight: 600;
	margin: .5rem 0;
}
.#{$ns}-has-description {
	cursor: help;
}
.#{$ns}-heading-action {
	font-weight: normal;
	text-decoration: underline;
	margin-left: .25rem;
}
.#{$ns}-row {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	box-sizing: border-box;

	&.nowrap {
		flex-wrap: nowrap;
	}
}
.#{$ns}-col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	display: inline-flex;
}
.#{$ns}-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	width: 100%;
	position: relative;
}
.#{$ns}-align-center {
	align-items: center;
	align-content: center;
	align-self: center;
}
.#{$ns}-align-start {
	align-items: start;
	align-content: start;
	align-self: start;
}
.#{$ns}-space-between {
	justify-content: space-between;
}

// Hide the text with 4chan X since the icons will show
html.fourchan-x ##{$ns}-container .fa {
	font-size: 0;
	visibility: hidden;
	margin: 0 0.15rem;
}

.#{$ns}-truncate-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.#{$ns}-hover-display {
	display: none;
}