.#{$ns}-player {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;

	& .#{$ns}-hover-image {
		position: fixed;
		max-height: 125px;
		max-width: 125px;
	}
	&.#{$ns}-hide-hover-image .#{$ns}-hover-image {
		display: none !important;
	}
}

.#{$ns}-list-container {
	flex-grow: 1;
	overflow: auto;

	& .#{$ns}-list-item {
		list-style-type: none;
		padding: 0.15rem 0.25rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
		background: #{map-get($colors, odd_row)};

		overflow: hidden;
		height: 1.3rem;

		&:nth-child(2n) {
			background: #{map-get($colors, even_row)};
		}
		// nth-child of every child just so it overrides the above without !important
		&:nth-child(n).playing {
			background: #{map-get($colors, playing)};
		}

		& .#{$ns}-item-menu-button {
			right: .25rem;
		}
		&:hover .#{$ns}-hover-display {
			display: flex;
		}

		&.#{$ns}-dragging {
			background: #{map-get($colors, dragging)}
		}
	}
}
