.#{$ns}-player {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;

	& .#{$ns}-hover-image {
		position: fixed;
		max-height: 125px;
		max-width: 125px;
		z-index: 2;
	}
	&.#{$ns}-hide-hover-image .#{$ns}-hover-image {
		display: none !important;
	}
}

.#{$ns}-under-image {
	flex-grow: 1;
	overflow: auto;
}

.#{$ns}-list-item {
	list-style-type: none;
	padding: 0.15rem 0.25rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	background: var(--fcsp-odd-row);

	overflow: hidden;
	height: 1.3rem;

	&:nth-child(2n) {
		background: var(--fcsp-even-row);
	}
	// nth-child of every child just so it overrides the above without !important
	&:nth-child(n).playing {
		background: var(--fcsp-playing);
	}

	& .#{$ns}-item-menu-button {
		right: .25rem;
	}

	&.#{$ns}-dragging {
		background: var(--fcsp-dragging);
	}
}

.dialog .tags-dialog .entry {
	cursor: initial;
}
