.#{$ns}-list-container {
	overflow-y: auto;

	& .#{$ns}-hover-image {
		position: fixed;
		max-height: 125px;
		max-width: 125px;
	}
	&.#{$ns}-hide-hover-image .#{$ns}-hover-image {
		display: none !important;
	}

	& .#{$ns}-list-item {
		list-style-type: none;
		padding: 0.15rem 0.25rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
		background: #{map-get($colors, odd_row)};

		overflow: hidden;
		height: 1rem;

		&.playing {
			background: #{map-get($colors, playing)} !important;
		}
		&:nth-child(2n) {
			background: #{map-get($colors, even_row)};
		}

		& .#{$ns}-item-menu-button {
			right: .25rem;
		}
		&:hover .#{$ns}-hover-display {
			display: flex;
		}

		&.#{$ns}-dragging {
			background: #{map-get($colors, dragging)}
		}
	}
}

html:not(.fourchan-x) {
	& .dialog {
		background: #{map-get($colors, background)};
		background: #{map-get($colors, background)};
		border-color: #{map-get($colors, border)};
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
		border-radius: 3px;
		padding-top: 1px;
		padding-bottom: 3px;
	}

	& .#{$ns}-item-menu {
		& .entry {
			position: relative;
			display: block;
			padding: .125rem .5rem;
			min-width: 70px;
			white-space: nowrap;
		}

		& .has-submenu::after {
			content: "";
			border-left: .5em solid;
			border-top: .3em solid transparent;
			border-bottom: .3em solid transparent;
			display: inline-block;
			margin: .35em;
			position: absolute;
			right: 3px;
		}

		& .submenu {
			position: absolute;
			display: none;
		}

		& .focused > .submenu {
			display: block;
		}
	}
}
