.#{$ns}-settings {
	display: none;
	padding: .25rem;

	.#{$ns}-setting-header {
		font-weight: 600;
		margin-top: 0.25rem;
	}
	textarea {
		border: solid 1px #{map-get($colors, border)};
		min-width: 100%;
		min-height: 4rem;
		box-sizing: border-box;
	}
}
