.#{$ns}-settings {
	& textarea {
		border: solid 1px #{map-get($colors, border)};
		min-width: 100%;
		min-height: 4rem;
		box-sizing: border-box;
		white-space: pre;
	}
	& .#{$ns}-sub-settings .#{$ns}-col {
		min-height: 1.55rem;
		display: flex;
		align-items: center;
		align-content: center;
		white-space: nowrap;
	}

	& .#{$ns}-settings-tabs {
		justify-content: space-between;
		flex-direction: row-reverse;
		margin: 0 -.25rem;
	}
	& .#{$ns}-settings-tab-group {
		text-align: center;
		white-space: nowrap;
		align-items: center;
	}
	& .#{$ns}-settings-tab {
		margin: .25rem;
		text-decoration: underline;
		text-align: center;
		&.active {
			font-weight: bold;
		}
	}

	& .#{$ns}-settings-group {
		display: none;
		&.active {
			display: block;
		}
	}

	& .#{$ns}-host-input {
		margin: .5rem 0;
		border-top: solid 1px #{map-get($colors, border)};

		&.invalid {
			border: solid 1px red;
		}

		& .#{$ns}-host-controls {
			align-items: center;
			justify-content: space-between;
			margin: .125rem 0;
		}

		& input[type=text] {
			min-width: 100%;
			box-sizing: border-box
		}
	}
}
