.#{$ns}-settings {
	padding: 0 .25rem;
	height: 100%;
	overflow: auto;

	& textarea {
		border: solid 1px #{map-get($colors, border)};
		min-width: 100%;
		min-height: 4rem;
		box-sizing: border-box;
		white-space: pre;
	}
}
