.#{$ns}-settings {
	& textarea {
		border: solid 1px #{map-get($colors, border)};
		min-width: 100%;
		min-height: 4rem;
		box-sizing: border-box;
		white-space: pre;
	}
	& .#{$ns}-sub-settings .#{$ns}-col {
		min-height: 1.55rem;
		display: flex;
		align-items: center;
		align-content: center;
		white-space: nowrap;
	}
}
