.#{$ns}-threads {
	padding: 0 .25rem;
	width: calc(100% - .5rem);
	overflow: auto;

	& .#{$ns}-thread-board-list label {
		display: inline-block;
		width: 4rem;
	}

	& .#{$ns}-thread-list {
		margin: 1rem -.25rem 0;
		padding: .5rem 1rem;
		border-top: solid 1px #{map-get($colors, border)};

		& .boardBanner {
			margin: 1rem 0;
		}
	}

	& table {
		margin-top: .5rem;
		border-collapse: collapse;

		& th {
			border-bottom: solid 1px #{map-get($colors, border)};
		}

		& th, & td {
			text-align: left;
			padding: .25rem;
		}

		& tr {
			padding: .25rem 0;
		}
		& .#{$ns}-threads-body {
			& tr {
				background: #{map-get($colors, even_row)};
			}
			& tr:nth-child(2n) {
				background: #{map-get($colors, odd_row)};
			}
		}
	}
}
