.#{$ns}-create-sound-status {
	margin-top: .5rem;
	border: solid 1px #{map-get($colors, border)};
	border-radius: 5px;
	padding: .25rem;
}

.#{$ns}-file-input, .#{$ns}-tools input[type=text] {
	width: 100%;
	color: black;
}

.#{$ns}-file-overlay, .#{$ns}-tools input[type=text] {
	box-sizing: border-box;
	height: 1.5rem;
	border: solid 1px #{map-get($colors, border)};
	min-width: 5rem;
	display: flex;
	align-items: center;
	padding: 0 .25rem;
	margin: 0;
}

.#{$ns}-file-input.placeholder span, .#{$ns}-create-sound-form input[type=text]::placeholder {
	color: #AAA;
	opacity: 1;
}

.#{$ns}-file-input {
	& .#{$ns}-file-overlay {
		position: relative;
		background: white;
	}

	& .placeholder-text {
		display: none;
	}

	&.placeholder .placeholder-text {
		display: inherit;
	}

	& span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	& input[type=file] {
		width: 100%;
		box-sizing: border-box;
		height: 100%;
		position: absolute;
		left: 0;
		opacity: 0;
	}

	& .overfile {
		z-index: 9999;
	}

	& .#{$ns}-file-list {
		&:empty {
			display: none;
		}
		padding: 0 .25rem;
	}
}

.#{$ns}-input-append {
	position: absolute;
	display: flex;
	align-items: center;
	background: white;
	padding-left: .25rem;
	right: .125rem;
}
