.#{$ns}-threads, .#{$ns}-settings, .#{$ns}-tools, .#{$ns}-player {
	display: none;
}

##{$ns}-container[data-view-style="settings"] .#{$ns}-settings {
	display: block;
}
##{$ns}-container[data-view-style="threads"] .#{$ns}-threads {
	display: block;
}
##{$ns}-container[data-view-style="tools"] .#{$ns}-tools {
	display: block;
}

##{$ns}-container[data-view-style="image"] .#{$ns}-player,
##{$ns}-container[data-view-style="playlist"] .#{$ns}-player,
##{$ns}-container[data-view-style="fullscreen"] .#{$ns}-player  {
	display: flex;
}

##{$ns}-container[data-view-style="image"] {
	& .#{$ns}-list-container, & .#{$ns}-playlist-search {
		display: none;
	}
	& .#{$ns}-image-link {
		height: auto;
	}
}

##{$ns}-container[data-view-style="playlist"] {
	& .#{$ns}-image-link {
		height: 125px;
		flex-shrink: 0;
	}
}

##{$ns}-container[data-view-style="fullscreen"] {
	&.cursor-inactive {
		.#{$ns}-player {
			cursor: none;
		}

		& .#{$ns}-controls {
			opacity: 0;
		}
	}
	& .#{$ns}-image-link {
		height: calc(100% - .4rem) !important;
	}
	& .#{$ns}-controls {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .7;
		transition: opacity .3s ease;
	}
	& .#{$ns}-list-container {
		position: absolute;
		top: 100%;
		width: 100%;
	}
}