.#{$ns}-threads, .#{$ns}-settings, .#{$ns}-player {
	display: none;
}

##{$ns}-container[data-view-style="settings"] .#{$ns}-settings {
	display: block;
}
##{$ns}-container[data-view-style="threads"] .#{$ns}-threads {
	display: block;
}

##{$ns}-container[data-view-style="image"] .#{$ns}-player,
##{$ns}-container[data-view-style="playlist"] .#{$ns}-player {
	display: block;
}

##{$ns}-container[data-view-style="image"] {
	& .#{$ns}-list-container {
		display: none;
	}
	& .#{$ns}-image-link {
		height: auto;
	}
}

##{$ns}-container[data-view-style="playlist"] {
	& .#{$ns}-image-link {
		height: 125px !important;
	}
}

##{$ns}-container[data-view-style="fullscreen"] {
	& .#{$ns}-image-link {
		height: calc(100% - .4rem) !important;
	}
	& .#{$ns}-controls {
		position: absolute;
		left: 0;
		right: 0;
		bottom: calc(-2.5rem + .4rem)
	}
	& .#{$ns}-controls:hover {
		bottom: 0;
	}
}