.#{$ns}-threads, .#{$ns}-settings, .#{$ns}-tools, .#{$ns}-player, .fullscreen-details {
	display: none;
}

##{$ns}-container[data-view-style="settings"] .#{$ns}-settings {
	display: block;
}
##{$ns}-container[data-view-style="threads"] .#{$ns}-threads {
	display: block;
}
##{$ns}-container[data-view-style="tools"] .#{$ns}-tools {
	display: block;
}

##{$ns}-container[data-view-style="image"] .#{$ns}-player,
##{$ns}-container[data-view-style="playlist"] .#{$ns}-player,
##{$ns}-container[data-view-style="fullscreen"] .#{$ns}-player {
	display: flex;
}

##{$ns}-container[data-view-style="image"] {
	& .#{$ns}-under-image {
		display: none;
	}
	& .#{$ns}-image-link {
		height: auto;
	}
}

##{$ns}-container[data-view-style="playlist"] {
	& .#{$ns}-image-link {
		flex-shrink: 0;
		flex-grow: 0;
	}
}

##{$ns}-container[data-view-style="fullscreen"] {
	& .#{$ns}-player {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&.cursor-inactive {
		.#{$ns}-player {
			cursor: none;
		}

		& .#{$ns}-controls,
		& .fullscreen-details {
			opacity: 0;
		}
	}
	& .#{$ns}-image-link {
		height: calc(100% - .4rem) !important;
	}
	& .#{$ns}-controls {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .7;
		transition: opacity .3s ease;
		z-index: 2
	}
	& .#{$ns}-under-image {
		position: absolute;
		top: 100%;
		width: 100%;
	}
	& .fullscreen-details {
		display: block;
		opacity: .7;
		position: absolute;
		top: .5rem;
		left: .5rem;
		text-align: left;
		background: var(--fcsp-controls-background);
		color: var(--fcsp-controls-inactive);
		padding: .5rem 1rem;
		font-size: 1.5rem;
		line-height: 1.5rem;
		border-radius: .375rem;
		z-index: 2
	}
}